
.section{

    &--full{
        height: 100vh;
        width: 100vw;
    }

    &--longer{
        height: 200vh;
    }

    &--wide{
        width: 100vw;
    }
    
}
/*
* Primeira Sessão - Banner
*/
.firstSection{
   
    position: relative;
    background-color: hsla(235, 10%, 2%, 1);
   
    .firstSection--img{
        position: absolute;
        bottom: 6vh;
        right: 20vw;
        z-index: 1;
        height: 80vh;
      
        mix-blend-mode: lighten;
    }

    .mainCall{
        position: absolute;
        bottom: 24vh;
        left: 20vw;
    }

    .mainCall__title{     
        font-family: 'antonio';
        color: white;

        &--small{
            font-weight: lighter;
            font-size: 1.5em;
            margin-bottom: 8px;
        }
        &--strong{
            font-weight: lighter;
            font-size: 5em;
            text-transform: uppercase;
            strong{
                font-weight: bold;
            }
        }
    }

    .mainCall__shortcutBar{
        display: flex;
        padding-left: 8px;

        li{
            list-style-type: none;
            padding-right: 16px;
        }
    }
    
}

.mainProject{
    position: relative;
    top: -22vh;
    margin-left: 24px;
    margin-right: 24px;

    background-color: hsl(240, 9%, 1%);
}

.secondSection__headerSection{
    position: relative;
    top: 5vh;
    width: 100vw;
    min-height: 200px;

    
    div{
        position: absolute;
        display: inline-block;

        text-transform: uppercase;
        color: white;
        font-family: 'antonio';
        font-weight: lighter;
        font-size: 1.4em;
    }

   
    
    .secondSection__myproject{
        left: calc(24vw - 24px);
        hr{
            border:         none;
            border-left:    1px solid white;
            height:         22vh;
            width:          1px;     
        }
    }

    .secondSection__aboutme{
        right: 0;
        hr{
            width: 16vw;
        }
    }
}



.secondSection__Cabify{
   display: flex;
   position: relative;
   width: 100%;
   height: 100vh;
 
   

    .secondSection__Cabify--container{
        display: flex;
        transform: translateY(50%);
        height: 50vh;
        width: 45vw;
    
    }
    
    img{
        position: relative;
        top: 50%;
        transform: translateY(-50%); 

        display: inline-block;
        left: calc(10vw - 25px);
        width: 45vw;
        z-index: 1;
        mix-blend-mode: lighten;

    }


    .secondSection__tag{

        
        .line--lighter{
            height: 50%;
        }
        
        .line--white {
            height: 10%;
            
        }
  

    }
   
   
    .secondSection__content{
        display: flex;
        width: 90%;
    }
    
    h1{
        display: inline-block;
        position: relative;
        width: 30%;
        margin-left: 5%;
        margin-right: 5%;
        z-index: 2;
  
    }
    p{
        display: flex;
        align-self: flex-end;
        position: relative;
        bottom: 48px;

        width: 45%;
        
        
    }
    button{
        align-self: flex-end;
        color: white;
    }
}


.thirdSection__Inter{
    display: flex;
    width: fit-content;
    margin: auto;

    .thirdSection__tag{
        position: relative;
        width: fit-content;
        top: -130px;
        margin-right: 16px;
        height: fit-content;
        
        .line--lighter{
            height: 100px;
        }

        .line--white{
            height: 30px;
        }
    }
 

    .thirdSection__Inter--container{
        display: flex;

        // height: fit-content;
        width: 18vw;
        
        h1{
            position: relative;
            align-self: flex-start;
           
            width: 45%;    
        }

        .category--title{   
            display: flex;
            align-self: flex-start;
        }
    }
    
    p{
        display: flex;

        width: 18vw;
        height: auto;
        align-self: flex-end;
    }

    button{
        display: flex;
        align-self: flex-end;

    }

    img{
        width: 24vw;
    }

}

.fourthSection_moreProject{
    background-color: #F7F7F7;
    hr{
        height: 64px;
        color: black;
    }
    h1{
        margin-top: 40px;
        margin-bottom: 80px;
        text-align: center;
    }

    .moreProject_Element{
        display: inline-block;
        width: 450px;
        // box-sizing: border-box;
        border: black 0px solid;

        transition: border linear 0.3s;
        padding: 48px 24px;
        

        .element--Id{
            display: flex;
        }
        .category--container{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            width: 32px;

            span{
                height: fit-content;
            }

            hr{
                height: 200px;
                margin: 0; 
            }

            
        }
        
        p{
            position: relative;
            left: 32px;
            max-width: 70%;
        }

    }

    .moreProject_Element:hover{
        border: black 12px solid;
    }

    p{
        color: black;
    }

    .moreProject_grid{
        display: grid;
        grid-template-areas:    'space0 element0'
                                'element1 element0'
                                'element1 element2'
                                'space1 element2';
                                width: 75vw;
                                margin: auto;
    }

    .element--0{
        grid-area: element0;
    }
    .element--1{
        grid-area: element1;
    }
    .element--2{
        grid-area: element2;
    }

    
}

.fifthSection__forWho{
    background-color: white;
    position: relative;
    height: 200vh;
    width: 100vw;

    .forWho__Container{
        position: relative;
        margin: 0 auto;
        width: 80vw;
    }
    .box--title{
        display: inline-block;
        position: absolute;
        height: 70vh;
        width: 55vw;
        border: black 12px solid;
        padding: 60px 40px 40px 40px;
        box-sizing: border-box;

    }

    .brands_grid{
        display: inline-grid;
        position: absolute;
        right: 0;
        top:10vh;

        grid-template-areas:    'brand1 brand2'
                                'brand3 brand4'
                                'brand5 brand6'
                                'brand7 brand8';
        padding:40px;
        background-color: black;

    }

    .brand--1{
        grid-area: brand1;
    }
    .brand--2{
        grid-area: brand2;
    }
    .brand--3{
        grid-area: brand3;
    }
    .brand--4{
        grid-area: brand4;
    }
    .brand--5{
        grid-area: brand5;
    }
    .brand--6{
        grid-area: brand6;
    }
    .brand--7{
        grid-area: brand7;
    }
    .brand--8{
        grid-area: brand8;
    }
    
}

@media (min-width:320px) { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
}
@media (min-width:481px) { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
}
@media (min-width:641px) { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
}
@media (min-width:961px) { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
}
@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */
 }
@media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 
}
