.category--title{
    display: inline-block;
    writing-mode: vertical-lr;
    margin-bottom: 8px;

    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);

    font-size: 1.2em;
    font-family: "antonio";
    
    font-weight: lighter;
    
    letter-spacing: 6.8px;
    line-height: 23px;
    text-transform: uppercase;

}

.title--white{
    color: white;
}

.title--black{
    color: black;
}

.title--medium{
    font-size: 4em;
    font-family: "antonio";
    
    text-transform: uppercase;
    letter-spacing: 3px;

}

